
.grid{
    display: grid;
    grid-gap: 1rem;
    margin: 0 auto;
}
.grid-items {
    padding: 1rem;
   
  }

@media (min-width: 600px) {
    .grid { grid-template-columns: repeat(2, 2fr); }
  }

@media (min-width: 900px) {
    .grid { grid-template-columns: repeat(3, 1fr); }
  }