
.container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height:100vh;
}
.pro{
    text-decoration: underline;
}
.introduction{
    color:#676FA3;
    text-align: center;
}
.image img{
    height:500px;
}
@media screen and (max-width:1200px) {
    .container{
        display:block;
    } 
    .image{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .image img{
        height: 350px;
    }

}
@media screen and (max-width:840px) {
    .container{
        display:block;
    } 
    .image{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .image img{
        height: 250px;
    }

}
@media screen and (max-width:600px) {
    .container{
        display:block;
    } 
    .image{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .image img{
        height: auto;
    }

}
